@media screen and (min-width:67.5em) {
  body {
    overflow: hidden
  }

  h1 {
    position: relative;
    top:5vh;
    margin-bottom: 2.5rem
  }

  .container {
    margin-top: 10vh;
    flex-direction: row
  }

  .topdiv {
    text-align: center;
    margin: .25em;
    margin:auto;
  }
  p{
    top: 10vh;
  }
}